.bg-class {
  color: black;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .card {
    margin-top: 10rem;
  }
}

.button-icons {
  font-size: xx-large;
  display: inline-block;
  padding-right: 3rem;
  padding-top: 5rem;
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

section {
  padding-top: 20vh;
  height: 100vh;
  padding-left: 100vw;
  padding-right: 100vw;
}
section::after {
  position: absolute;
}
section h1 {
  color: #ffffff;
  font: normal 300 64px/1 "Josefin Sans", sans-serif;
  text-align: left;
  white-space: nowrap;
}

.section a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.section a:hover {
  opacity: 0.5;
}

#me {
  background: linear-gradient(
    21deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(132, 181, 224, 1) 76%,
    rgba(132, 181, 224, 1) 100%
  );
}

#me h1 {
  font-weight: 600;
  color: white;
}

#projects {
  background: linear-gradient(to bottom, #444444, #222222);
}

#contact-me {
  background: linear-gradient(
    21deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(132, 181, 224, 1) 76%,
    rgba(132, 181, 224, 1) 100%
  );
}

.container {
  display: inline-block;
}
.typed-out {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  z-index: 100;
}

.typed-out:nth-child(1) {
  animation: typing 2.8s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

.typed-out:nth-child(2) {
  animation: typing 2.8s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
}

.typed-out:nth-child(2)::after {
  content: "|";
  animation: cursor-blink 1s infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, #1d1c1c, #000000);
  box-shadow: 100 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 2rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  font: "Josefin Sans", sans-serif;
  padding: 1.5rem;
  color: #ffffff;
}

.nav-list a:hover {
  text-decoration: none;
  background-color: rgba(132, 181, 224, 1);
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
